<html lang="en">

  <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

      <!-- Own style sheet -->
      <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename='main.css') }}">

      <!-- Socket IO module & own JavaScript -->
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
      <script src="{{ url_for('static', filename='main.js') }}"></script>

      <!-- Title of page  -->
      <title>{% block title %}{% endblock %}</title>


  </head>


  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light border">
      <a class="navbar-brand" href="/">WhatsChat</a>
    </nav>
{% block main %}{% endblock %}
  </body>
</html>
