.head
{
  height:100px;
  color: red;
  padding:20px;
}

.name-plate
{
  height:50px;
  padding:20px;
}

.message-box
{
  max-width: 600px;
  padding: 20px;
}

.send_options
{
  padding:20px;
}

.footnote
{
  position: absolute;
  bottom: 0;
}

.extra_thicc
{
  padding: 20px;
}
