{% extends "layout.html" %}

{% block title %}
    Chat App
{% endblock %}
{% block java %}
  <script src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}
{% block main %}
    <div class="head">
      <h2 id="welkom">
        <p>Hi! Welcome to the chat web app.</p>
        <p id = 'name-holder'>If you want to chat, enter your name first!</p>
      </h2>
    </div>
    <div class="message-box">
      <div id="message-box">
      </div>
    </div>
    <div class="send_options">
      <form id="new-message">
          <input class = "non-null" id="text" autocomplete="off" autofocus placeholder="..." type="text">
          <select autofocus id="sid" name="sid" placeholder="name">
                  <option value="None">ALL</option>
          </select>
          <button id="onesubmit" type="submit">SEND</button>
      </form>
    </div>
    <div class = "send_options">
      <h4> OPTIONS </h4>
      <h6> Set name </h6>
      <form id="username">
          <input class = "non-null" id="name" name="name" autocomplete="off" placeholder="name" type="text">
          <button id="twosubmit" type="submit">SET NAME</button>
      </form>

      <h6> Select room </h6>
      <form>
        <input class = 'room_name' autocomplete="off" placeholder="room">
        <button id="twosubmit" type="submit">Join</button>
        <button id="twosubmit" type="submit">Create</button>
      </form>
    </div>
{% endblock %}
