{% extends "layout.html" %}


{% block title %}
    Name Change
{% endblock %}
// AJAX REQUEST
{% block java %}
<script src="{{ url_for('static', filename='nameChange.js') }}"></script>
{% endblock%}
{% block main %}
<h2 class = "main_text"> Changing your name, deletes the previous name!</h2>
<div class="extra_thicc" >
    <form id = "name_change">
        <div class="form-group">
            <input id="new_name" autocomplete="off" class="form-control" name="new_name" placeholder="New name" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Change</button>
    </form>
</div>
{% endblock %}
