{% extends "layout.html" %}

{% block title %}
    Chat App
{% endblock %}
{% block java %}
  <script src="{{ url_for('static', filename='rooms.js') }}"></script>
{% endblock %}
{% block main %}
    <div class="head">
      <h2 id="welkom">
        <p>Hi! Welcome to the chat web app.</p>
        <p id = "name-holder">If you want to chat, enter your name first!</p>
      </h2>
    </div>
    <div class="message-box">
      <div id="message-box">
      </div>
    </div>
    <div class="send_options">
      <form id="new-message">
          <input class = "non-null" id="text" autocomplete="off" autofocus placeholder="..." type="text">
          <button id="onesubmit" type="submit">SEND</button>
      </form>
    </div>
    <div class = "send_options">
      <h4> OPTIONS </h4>
      <h6> Select room </h6>
      <form id= "room_form">
        <input class = "room_name" autocomplete="off" placeholder="room">
        <select id = "value_room">
          <option value="join" id="join-submit" type="submit">Join</option>
          <option value="create" id="create-submit" type="submit">Create</option>
        </select>
        <button id="onesubmit" type="submit">submit</button>
      </form>
      <div class ="extra_thicc">
        <ul id="room-list">
          <li id="li-room"> No rooms avalibol </li>
        </ul>
      </div>
    </div>

{% endblock %}
